.xl-text {
  font-size: 75px;
  color: white;
}
.navbar .btn-outline-light:hover {
  color: var(--bs-dark);
}
.navbar {
  transition: all 0.5s ease-in-out;
  z-index: 1050; /* Ensure it’s above other elements */
}
.navbar-sticky {
  background: #fff;
  opacity: 0.9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.red-line {
  width: 100%;
  height: auto;
  display: block;
}
.stat-title {
  font-size: 1rem;
  margin-bottom: 5px;
  color: white;
}
.stat-value {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
}
.quote-bg {
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/images/quote-background.webp') center center no-repeat;
  background-size: fixed;
}
.navbar .btn:hover {
  background-color: #d14247 !important;
  border-color: #d14247;
  color: white !important;
}
.stat-title {
  font-size: 1rem;
  margin-bottom: 5px;
}
.stat-title {
  font-size: 1rem;
  margin-bottom: 5px;
}
.vertical-decoration {
  top: 12%;
  width: 24px;
}
.image-person .vertical-decoration {
  top: 5%;
  right: 0;
  width: 400px;
  top: 12%;
}
.stat-title {
  font-size: 1rem;
  margin-bottom: 5px;
}
.to-top-btn {
  position: fixed;
  z-index: 20;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  width: 52px;
  height: 52px;
  border: none;
  border-radius: 50%;
  outline: none;
  background-color: #31477e;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.to-top-btn {
  &:hover {
    background-color: #d14247;
  }
}
.to-top-btn {
  img {
    margin-bottom: 0.25rem;
    width: 18px;
  }
}
.show {
  opacity: 1;
}
.stat-column {
  background-color: #42677b;
  padding: 15px;
  padding-top: 40px;
  margin: 20px;
  color: white; /* Ensures text is readable */
}
.report p {
  color: white;
}
.report h3 {
  color: white;
}
.report h4 {
  color: white;
}
.findings p {
  color: black;
}
.findings h3 {
  color: #1e1e33;
}
.card-body-2 {
  border: 2px solid #49c8ef;
  padding: 10px;
}
.legal p {
  font-size: 16px;
  width: 100%;
}
.gray-background {
  background-color: #eaeaea;
}
.p-dear {
  font-size: 22px;
}
@media (max-width: 1000px) {
  .hero .image-container {
    display: flex;
    justify-content: center;
  }
  .hero .text-container {
    text-align: center;
  }
  .xl-text {
    font-size: 50px;
  }
  .report {
    padding: 40px 0 !important;
  }
  .report h2 {
    text-align: center;
  }
  .findings {
    padding: 40px 0 !important;
  }
  .findings h2 {
    text-align: center;
  }
  .signature {
    margin-top: 20px !important;
  }
  .navbar {
    background: #fff;
    transition: all 0.5s ease-in-out;
    opacity: 0.9;
    .btn-outline-secondary {
      margin-top: 20px;
    }
    
    .navbar .btn:hover {
      background-color: #d14247 !important;
      border-color: #d14247;
      color: white !important;
    }
  }
  .animate {
    height: 200vh; /* Just to allow scrolling */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #222;
    color: white;
  }
  .animate-hidden {
    opacity: 0;
  }
}
@media (max-width: 767px) { /* Bootstrap's md breakpoint */
  .sm-border-none {
    border-right: none !important;
  }
}